@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Kumbh Sans', sans-serif;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.clock {
  display: flex;
  text-transform: uppercase;
}

.clock > div {
  margin: 5px;
}

.clock > div:last-child {
  align-self: flex-end;
}

.clock span {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 100px;
  padding: 10px;
}

.clock .text {
  font-size: 12px;
  background:rgba(0, 0, 0);
  padding: 5px;
}

.clock span:only-child {
  font-size: 16px;
  width: 60px;
  background: green;
}